### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
# Preview dataframe from csv
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
# Get a total count of unique user names; .nunique() from pandas documentation used to avoid counting duplicate SNs
uniqueSN = purchase_data["SN"].nunique()
uniqueSN

576

In [5]:
# Create total players dataframe to show total count of unique players
total_players_df= pd.DataFrame( {"Total Players": [uniqueSN]})

# Display total players dataframe
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Create variables to hold calculated data needed for dataframe
# total item count (used nunique to avoid duplicates)
# average price, total purchases, and total revenue use mean, count, sum functions
item_count = purchase_data["Item Name"].nunique()
avg_price = purchase_data["Price"].mean()
total_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

In [106]:
# Create data frame with variables from above cell 
purchasing_df= pd.DataFrame( {"Number of Unique Items": [item_count],
                             "Average Price" : [avg_price],
                             "Number of Purchases" : [total_purchases],
                             "Total Revenue" : [total_revenue]})

In [107]:
# Apply formatting to Average Price and Total Revenue to display as currency
purchasing_df["Average Price"] = purchasing_df["Average Price"].astype(float).map("${:,.2f}".format)
purchasing_df["Total Revenue"] = purchasing_df["Total Revenue"].astype(float).map("${:,.2f}".format)

# Display dataframe to show purchasing analysis summary
purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
# Create dataframe dropping rows that are duplicated SNs, creating a subset based on SN
uniqueSN = purchase_data.drop_duplicates(subset = "SN")

#Display preview of unique SN dataframe
uniqueSN.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
# Get counts of gender from unique SN subset, store in variable
gender_count = uniqueSN["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [14]:
# Calculate percent of counts out of total count of unique SNs, store in variable 
gender_perc = gender_count / uniqueSN["Gender"].count() * 100
gender_perc

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [15]:
# Create data frame to hold gender count and percentage data
gender_df= pd.DataFrame( {"Total Count": gender_count,
                             "Percentage of Players" : gender_perc
                             })

In [16]:
# Format Percentage of Players to display as percent with 2 decimals and %
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)

# Display Gender Demographics data frame
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
# Group original purchase data by Gender values
purchase_gender_df = purchase_data.groupby(["Gender"])

In [20]:
# Create variables to hold calculated data needed for dataframe
# average price, total purchases, and total revenue use mean, count, sum functions
# Average per person found by dividing total purchases by the gender count from above; count based on unique SNs
g_purchase_count = purchase_gender_df["Purchase ID"].count()
g_avg_price = purchase_gender_df["Price"].mean()
g_total_purchase = purchase_gender_df["Price"].sum()
g_avg_totalper_person = g_total_purchase / gender_count

g_avg_totalper_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [21]:
# Create dataframe for holding gender purchasing variable data
gender_purchasing_df= pd.DataFrame( {"Purchase Count": g_purchase_count,
                             "Average Purchase Price" : g_avg_price,
                             "Total Purchase Value" : g_total_purchase,
                             "Avg Total Purchase per Person" : g_avg_totalper_person})

# Format non count columns to display as currency in dataframe
gender_purchasing_df["Avgerage Purchase Price"] = gender_purchasing_df["Average Purchase Price"].map("${:,.2f}".format)
gender_purchasing_df["Total Purchase Value"] = gender_purchasing_df["Total Purchase Value"].map("${:,.2f}".format)
gender_purchasing_df["Avg Total Purchase per Person"] = gender_purchasing_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

# Display Purchasing analysis by gender dataframe with the specified rows
gender_purchasing_df = gender_purchasing_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]
gender_purchasing_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,$361.94,$4.47
Male,652,3.017853,"$1,967.64",$4.07
Other / Non-Disclosed,15,3.346000,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
# Create variable to represent max Age value for last bin/upper range
# Sourcing from the dataframe of unique SNs created in steps above to avoid duplicate data
max_age = uniqueSN["Age"].max()

# Create bins and group names to divide data into predetermined age brackets
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, max_age]

group_names= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+" ]

In [24]:
# Create dataframe based on Age Bracket using bins and groups above
uniqueSN["Age Bracket"]=pd.cut(uniqueSN["Age"], bins, labels=group_names, include_lowest = True)
uniqueSN.head()

C:\Users\sjrya\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bracket
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [26]:
# Create dataframe grouped by bins created above
group_age_df= uniqueSN.groupby(["Age Bracket"])

# Calculate count and percentage of players per bin/age bracket
bracket_count = group_age_df["Age Bracket"].count()
bracket_perc = bracket_count / uniqueSN["Gender"].count() * 100
bracket_perc

Age Bracket
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: Age Bracket, dtype: float64

In [27]:
# Create dataframe to hold count and percentage variable data
age_bracket_df= pd.DataFrame( {"Total Count": bracket_count,
                               "Percentage of Players" : bracket_perc})

# Format Percentage of Players to display as % with 2 decimals
age_bracket_df["Percentage of Players"] = age_bracket_df["Percentage of Players"].map("{:,.2f}%".format)

In [28]:
# Display final dataframe for age demographics
age_bracket_df

             Total Count Percentage of Players
Age Bracket
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
40+                   12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [57]:
# Review values in price data to check for any NAN or non numeric values
purchase_data["Price"].unique()

array([3.53, 1.56, 4.88, 3.27, 1.44, 3.61, 2.18, 2.67, 1.1 , 3.58, 4.74,
       4.18, 1.7 , 4.86, 2.89, 2.52, 1.76, 4.9 , 4.64, 4.6 , 1.48, 3.81,
       3.4 , 3.19, 4.23, 1.61, 3.09, 4.32, 3.16, 2.94, 4.48, 4.09, 2.38,
       4.4 , 2.05, 3.15, 3.14, 1.33, 3.77, 2.73, 1.66, 3.44, 3.97, 2.96,
       3.54, 2.84, 4.35, 3.79, 3.39, 1.74, 3.03, 1.  , 2.92, 2.22, 3.7 ,
       3.3 , 1.98, 1.29, 3.75, 3.47, 1.02, 1.16, 1.54, 3.94, 1.63, 4.5 ,
       4.19, 4.76, 1.79, 2.5 , 1.71, 1.75, 4.94, 4.75, 2.85, 1.41, 4.43,
       3.26, 1.87, 2.42, 4.14, 3.08, 4.58, 1.28, 2.48, 3.1 , 2.45, 3.93,
       4.03, 4.89, 2.49, 4.24, 1.09, 2.21, 4.8 , 2.28, 4.08, 1.94, 1.4 ,
       4.66, 1.14, 4.  , 3.65, 4.99, 4.07, 3.74, 3.82, 2.62, 3.45, 3.55,
       3.33, 1.99, 1.06, 3.49, 1.03, 4.65, 3.07, 4.93, 1.01, 4.91, 1.77,
       4.84, 3.41, 2.37, 4.17, 2.17, 3.46, 3.85, 1.6 , 4.05, 2.61, 1.55,
       4.82, 2.27, 1.97, 1.12, 3.87, 2.6 , 2.  , 2.04, 3.92, 2.07, 2.08,
       1.93, 3.36])

In [108]:
# Create variable to represent max Age value for last bin/upper range
# Sourcing from the original purchase_data dataframe, no concern with duplicate SNs in purchase analysis 
max_age1 = purchase_data["Age"].max()

# Create bins and group names to divide data into predetermined age brackets
bins1 = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, max_age1]

group_names1= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+" ]

In [109]:
# Create dataframe based on Age Bracket using bins and groups above
purchase_data["Age Ranges"]=pd.cut(purchase_data["Age"], bins=bins1, labels=group_names1, include_lowest = True)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,20-24

In [60]:
# Create dataframe grouped by bins created above
age_range_df= purchase_data.groupby(["Age Ranges"])

In [61]:
# Create variable and calculate per bin/age bracket
age_purchase_count = age_range_df["Purchase ID"].count()
age_avg_price = age_range_df["Price"].mean()
age_total_purchase = age_range_df["Price"].sum()

# Calculate avg total purchase per person using total purchase and dividing by the unique count of SNs in the specific age bin
age_avg_per_person = age_total_purchase / age_range_df["SN"].nunique()

age_avg_per_person

Age Ranges
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [62]:
# Create dataframe to hold count and percentage variable data
age_range_df= pd.DataFrame( {"Purchase Count": age_purchase_count,
                             "Average Purchase Price" : age_avg_price,
                             "Total Purchase Value" : age_total_purchase,
                             "Avg Total Purchase per Person" : age_avg_per_person
                            })

# Format to display sepcified columns as currency with 2 decimals
age_range_df["Average Purchase Price"] = age_range_df["Average Purchase Price"].map("${:,.2f}".format)
age_range_df["Total Purchase Value"] = age_range_df["Total Purchase Value"].map("${:,.2f}".format)
age_range_df["Avg Total Purchase per Person"] = age_range_df["Avg Total Purchase per Person"].map("${:,.2f}".format)


# Display Purchasing analysis by age range dataframe with the specified rows
age_range_df = age_range_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]
age_range_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [83]:
# Create dataframe from original purchase data grouped by SN
sn_purchase= purchase_data.groupby(["SN"])

# Calculate variables from SN grouped dataframe
sn_purchase_count = sn_purchase["Item ID"].count()
sn_total_value = sn_purchase["Price"].sum() 
sn_avg_price = sn_total_value / sn_purchase_count

# Create dataframe to hold SN grouped purchase variable data
top_spenders_df= pd.DataFrame( {"Purchase Count": sn_purchase_count,
                             "Average Purchase Price" : sn_avg_price,
                             "Total Purchase Value" : sn_total_value 
                               })

# Sort top spenders dataframe by the Total Purhcase Value column in descending order
top_spenders_df = top_spenders_df.sort_values("Total Purchase Value", ascending=False)

# Format specified columns as currency
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)

# Display preview of Top Spenders dataframe
top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [88]:
# Create dataframe from original purchase data grouped by Item ID and Item Name
item_data_df = purchase_data.groupby(["Item ID", "Item Name"])

# Display preview of item data dataframe to check 
item_data_df.count().head()

,,Purchase ID,SN,Age,Gender,Price,Age Range,Age Ranges
Item ID,Item Name,,,,,,,
0,Splinter,4,4,4,4,4,4,4
1,Crucifer,4,4,4,4,4,4,4
2,Verdict,6,6,6,6,6,6,6
3,Phantomlight,6,6,6,6,6,6,6
4,Bloodlord's Fetish,5,5,5,5,5,5,5

In [91]:
# Calculate variables from above grouped dataframe
item_purchase_count = item_data_df["Purchase ID"].count()
item_total_purchase = item_data_df["Price"].sum()
item_price = item_total_purchase / item_purchase_count

In [103]:
# Create dataframe to hold grouped item variable data
top_item_df= pd.DataFrame( {"Purchase Count": item_purchase_count,
                             "Item Price" : item_price,
                             "Total Purchase Value" : item_total_purchase 
                               })

# Sort top items dataframe by the Purchase count column in descending order
top_item_df = top_item_df.sort_values("Purchase Count", ascending=False)

# Create dataframe for display in next section, sorted by Total Purchase Value descending (only worked if put in this cell)
top_profit= top_item_df.sort_values(by="Total Purchase Value", ascending=False)

# Format specified columns as currency
top_item_df["Item Price"] = top_item_df["Item Price"].map("${:,.2f}".format)
top_item_df["Total Purchase Value"] = top_item_df["Total Purchase Value"].map("${:,.2f}".format)

# Display preview of most popular items dataframe
top_item_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [105]:
# Format specified columns as currency
top_profit["Item Price"] = top_profit["Item Price"].map("${:,.2f}".format)
top_profit["Total Purchase Value"] = top_profit["Total Purchase Value"].map("${:,.2f}".format)

# Display preview of most profitiable items dataframe
top_profit.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80